//font
$ml-font-12: 12px;
$ml-font-14: 14px;
$ml-font-16: 16px;
$ml-font-18: 18px;
$ml-font-24: 24px;
$ml-font-28: 28px;
$ml-font-46: 46px;

//px
$ml-px-16: 16px;
$ml-px-32: 32px;

//colors
$ml-yellow: #FFE600;
$ml-black: #333333;
$ml-dark-grey: #666666;
$ml-light-grey: #999999;
$ml-background: #EEEEEE;
$ml-blue: #3483FA;

